.facemask-page{
    width:100%;
    background:#fffafc;
}

/* HERO */

.facemask-hero {

    background:
    linear-gradient(
        rgba(0,0,0,0.35),
        rgba(0,0,0,0.35)
    ),
    url("/images/facemask-banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 450px;
    width: 100%;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    text-align:center;
}

.facemask-hero h1{
    font-size:52px;
    margin-bottom:15px;
}

.facemask-hero p{
    width:65%;
    font-size:18px;
    line-height:1.8;
}

/* PRODUCTS */

.facemask-products{
    padding:70px 8%;
}

.facemask-products h2{
    text-align:center;
    color:#e91e63;
    font-size:36px;
    margin-bottom:45px;
}

.facemask-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:35px;
}

/* CARD */

.facemask-card{
    background:white;
    border-radius:18px;
    overflow:hidden;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    transition:.35s;
}

.facemask-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 40px rgba(0,0,0,.15);
}

/* IMAGE */

.facemask-card img{
    width:100%;
    height:320px;
    object-fit:contain;
    background:white;
    padding:15px;
}

/* CONTENT */

.brand{
    display:block;
    color:#888;
    font-size:14px;
    margin:10px 20px 5px;
}

.facemask-card h3{
    margin:0 20px;
    font-size:22px;
    color:#333;
    min-height:60px;
}

.rating{
    color:#f8b400;
    margin:12px 20px;
    font-size:18px;
}

.facemask-card h4{
    margin:0 20px 20px;
    color:#e91e63;
    font-size:24px;
}

/* BUTTON */

.facemask-card button{
    width:calc(100% - 40px);
    margin:0 20px 20px;
    padding:14px;

    border:none;
    border-radius:30px;

    background:#e91e63;
    color:white;

    font-size:16px;
    font-weight:600;

    cursor:pointer;
    transition:.3s;
}

.facemask-card button:hover{
    background:#c2185b;
}

/* RESPONSIVE */

@media(max-width:768px){

.facemask-hero{
    height:320px;
}

.facemask-hero h1{
    font-size:38px;
}

.facemask-hero p{
    width:90%;
    font-size:16px;
}

.facemask-products{
    padding:50px 20px;
}

.facemask-card img{
    height:260px;
}

}