.hairspray-page{
  font-family:Arial,sans-serif;
  background:#fff;
}

.hairspray-hero{

  height:350px;

  background:
  linear-gradient(
  rgba(0,0,0,.35),
  rgba(0,0,0,.35)),
  url("/images/hair-spray-banner.jpg");

  background-size:cover;
  background-position:center;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  color:#fff;
  text-align:center;
}

.hairspray-hero h1{
  font-size:48px;
  margin-bottom:15px;
}

.hairspray-hero p{
  width:70%;
  font-size:18px;
  line-height:1.6;
}

.hairspray-products{
  padding:60px 8%;
}

.hairspray-products h2{
  text-align:center;
  color:#e91e63;
  font-size:34px;
  margin-bottom:40px;
}

.hairspray-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
}

.hairspray-card{
  background:#fff;
  border-radius:15px;
  overflow:hidden;
  text-align:center;
  box-shadow:0 6px 15px rgba(0,0,0,.1);
  transition:.3s;
  padding-bottom:20px;
}

.hairspray-card:hover{
  transform:translateY(-8px);
}

.hairspray-card img{
  width:100%;
  height:280px;
  object-fit:contain;
}

.brand{
  display:block;
  color:#888;
  font-weight:600;
  margin-top:15px;
}

.hairspray-card h3{
  margin:10px;
}

.rating{
  color:#ffb400;
  margin:10px 0;
}

.hairspray-card h4{
  color:#e91e63;
  margin-bottom:15px;
}

.hairspray-card button{

  background:#e91e63;
  color:#fff;
  border:none;
  padding:12px 30px;
  border-radius:30px;
  cursor:pointer;
}

.hairspray-card button:hover{
  background:#c2185b;
}