.write-review-page{

    background:#fff5f8;
    min-height:100vh;
    padding-bottom:70px;

}



/* HERO */


.review-banner{

    text-align:center;
    padding:70px 20px;

}



.review-banner span{

    color:#e91e63;
    letter-spacing:3px;
    font-weight:bold;

}



.review-banner h1{

    font-size:45px;
    color:#222;
    margin:20px 0;

}



.review-banner p{

    max-width:650px;
    margin:auto;
    color:#666;
    font-size:18px;
    line-height:1.7;

}





/* FORM */


.review-form-section{

    display:flex;
    justify-content:center;

}



.review-form{

    background:white;
    width:500px;
    padding:40px;
    border-radius:25px;

    box-shadow:
    0 20px 45px rgba(0,0,0,0.12);

}



.review-form h2{

    text-align:center;
    color:#e91e63;
    margin-bottom:30px;

}



.review-form label{

    display:block;
    margin-bottom:8px;
    color:#444;
    font-weight:600;

}



.review-form input,
.review-form textarea{

    width:100%;
    padding:15px;
    margin-bottom:20px;

    border:1px solid #ddd;
    border-radius:12px;

    font-size:15px;

}



.review-form textarea{

    height:140px;
    resize:none;

}





/* STAR RATING */


.rating-box{

    display:flex;
    gap:10px;
    margin-bottom:20px;

}



.rating-box span{

    font-size:35px;
    color:#ddd;
    cursor:pointer;

}



.rating-box .active-star{

    color:#ffb400;

}




/* BUTTON */


.review-form button{

    width:100%;
    padding:15px;

    background:#e91e63;
    color:white;

    border:none;
    border-radius:30px;

    font-size:17px;
    cursor:pointer;

}



.review-form button:hover{

    background:#c2185b;

}




@media(max-width:768px){

.review-form{

    width:90%;
    padding:25px;

}


.review-banner h1{

    font-size:32px;

}

}
/* CUSTOMER REVIEWS */


.customer-reviews{

    padding:60px 8%;
    text-align:center;

}



.customer-reviews h2{

    color:#e91e63;
    font-size:35px;
    margin-bottom:35px;

}



.no-review{

    color:#777;

}



.review-list{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

}



.customer-card{

    background:white;
    padding:30px;
    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.1);

    text-align:left;

}



.review-stars{

    color:#ffb400;
    font-size:22px;

}



.customer-card h3{

    color:#e91e63;

}



.customer-card p{

    color:#555;
    line-height:1.7;

}



.customer-card span{

    color:#888;
    font-size:14px;

}



@media(max-width:900px){

.review-list{

    grid-template-columns:1fr;

}

}