.beauty-tips-page {

  font-family:Arial, sans-serif;

}



/* Hero */

.beauty-hero {

  height:450px;


  background:
  linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
  ),
  url("/images/hero.jpg");


  background-size:cover;

  background-position:center;


  display:flex;

  justify-content:center;

  align-items:center;


  text-align:center;

  color:white;

}



.beauty-content h1 {

  font-size:55px;

}



.beauty-content p {

  font-size:20px;

  max-width:650px;

}



.beauty-content button {

  margin-top:25px;

  padding:14px 35px;

  border:none;

  border-radius:30px;

  background:#e91e63;

  color:white;

  cursor:pointer;

}





/* Sections */

.beauty-intro,
.tips-section,
.daily-routine {

  padding:60px 8%;

  text-align:center;

}



.beauty-intro h2,
.tips-section h2,
.daily-routine h2 {

  color:#e91e63;

  font-size:32px;

}





/* Cards */

.tips-cards,
.routine-cards {

 display:flex;

 justify-content:center;

 gap:30px;

 flex-wrap:wrap;

}



.tip-card,
.routine-card {

 width:280px;

 padding:30px;

 background:white;

 border-radius:15px;


 box-shadow:
 0 5px 20px rgba(0,0,0,0.1);

}



.tip-card h3,
.routine-card h3 {

 color:#e91e63;

}



.tip-card:hover,
.routine-card:hover {

 transform:translateY(-8px);

 transition:0.3s;

}