.membership-page {

  font-family:Arial, sans-serif;

}


/* Hero */

.membership-hero {

  height:450px;


  background:
  linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
  ),
  url("/images/hero.jpg");


  background-size:cover;

  background-position:center;


  display:flex;

  justify-content:center;

  align-items:center;


  text-align:center;

  color:white;

}



.membership-content h1 {

  font-size:55px;

}



.membership-content p {

  font-size:20px;

  max-width:650px;

}



.membership-content button {

  margin-top:25px;

  padding:14px 35px;

  border:none;

  border-radius:30px;

  background:#e91e63;

  color:white;

  cursor:pointer;

}





/* Sections */

.membership-intro,
.membership-benefits,
.membership-plans {

  padding:60px 8%;

  text-align:center;

}



.membership-intro h2,
.membership-benefits h2,
.membership-plans h2 {

  color:#e91e63;

  font-size:32px;

}





/* Cards */

.membership-cards,
.plan-cards {

 display:flex;

 justify-content:center;

 gap:30px;

 flex-wrap:wrap;

}



.membership-card,
.plan-card {

 width:280px;

 padding:30px;

 background:white;

 border-radius:15px;


 box-shadow:
 0 5px 20px rgba(0,0,0,0.1);

}



.membership-card h3,
.plan-card h3 {

 color:#e91e63;

}



.featured {

 border:2px solid #e91e63;

}



.membership-card:hover,
.plan-card:hover {

 transform:translateY(-8px);

 transition:0.3s;

}